main{
    display: flex;
    justify-content: space-evenly;

    .home{
        padding-right: 20rem;
        padding-top: 8rem;
        h1 {
            font-family: $ff-lora;
            font-size: 48px;
            line-height: 61px;
            justify-content: center;
            align-items: center;
            padding-top: 5rem;
            font-weight: 600;
            
        }
        p{
            padding-top: 5rem;
            font-family: $ff-monte;
            font-size: 24px;
            line-height: 30px;
            font-weight: 100;
            padding-bottom: 1rem;
        }
        .read_more{
            font-family: $ff-monte;
            font-size: 18px;
            line-height: 22px;
            font-style: bold;
            padding-top: 1rem;
            
            .line{
                background: #fff;
                width: 20px;
                height: 1px;
                position: absolute;
                margin: 0.7rem;
            }
        }
    }

    .main-img{
        width: 621px;
        height: 586px;
        fill: image;
        img{
            position: relative;
            width: 621px;
            height: 586px;
            margin-top: 8rem;
            padding-top: 2rem;
            
        }

        .secondary-img{
            position: absolute;
            background: $primary-color;
            width: 390px;
            height: 189px;
            border-radius: 10px;
            box-shadow: 0 4px rgba(0,0,0, 0.7);
            top: 710px;
            left: 1175px;
            
            .black__rect{
                position: relative;
                width: 85px;
                height: 72px;
                background: $primary-color;
                img{
                    width: 40px;
                    height: 72px;
                    bottom: 150px;
                    left: 20px;
                    
                }
            }
            h3{
                font-family: $ff-monte;
                font-size: 14px;
                position: absolute;
                left: 70px;
                top: 15px;            
            }
            h4{
                position: absolute;
                top: 45px;
                left: 70px;
                font-family: $ff-monte;
                font-size: 12px;
                color: #828282;
            }
            p{
                position: absolute;
                font-family: $ff-lora;
                font-size: 24px;
                line-height: 31px;
                font-size: bold;
                top: 80px;
                left: 10px;
            }

        }
}
}