$primary-color: #181719;

$ff-crimson: "Crimson Pro";
$ff-monte: "Montserrat";
$ff-lora: "Lora";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin media-md {
    @media screen and (max-width:768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (max-width:1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (max-width:1600px) {
        @content;
    }
}