@include media-md {
    body{
        height: 150vh;

    .menu-btn {
        visibility: visible;
    
    }
    
    .nav {
       
    
        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;
            visibility: hidden;
    
    
            &__item {
                display: inline;
                padding-right: 1.5rem;
            }
    
            &__links {
                font-size: 1rem;
               
            }
        }
    }

    main{
       display: block;
       grid-template-columns: repeat(1,1fr);

       h1{
            font-size: 36px;
            text-align: center;
            display: inline-flex;
            line-height: 46px;
            width: 100%;
            position: absolute;
       }
       .home > p{
           font-size: 16px;
           padding-top: 10rem;
           line-height: 18px;
           text-align: left;
           position: absolute;
       }

       .home .read_more {
            font-size: 16px;
            padding-top: 18rem;
            line-height: 16px;
            text-align: left;
            position: absolute;
       }

       .main-img{
           width: 391px;
           height: 279px;
           position: absolute;
           padding-top: 10rem;
       }

       .secondary-img{
           visibility: hidden;
       }
    }

    footer{
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
}
}